@model List<CompanyDTO>
@{
    ViewData["Title"] = "CompanyManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight mt60">
    <div class="row">
        <div class="col-lg-12">
            <fieldset class="fieldset">
                <legend class="fieldsetb">Filtreleme Alanı</legend>

                <div class="row">
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
                        <form asp-controller="Company" asp-action="CompanyManagement" method="post">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" name="filtre"
                                           class="inpt-charter" placeholder="Giriniz...">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button style=" float: right;margin-top:10px"
                                            type="submit" class="btn-charter-p m-b">
                                        FİLTRELE
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <i data-toggle="modal" data-target="#AddModal"
                           class="fa fa-plus-square" style="font-size:35px; cursor: pointer; float:right"></i>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>


    <!--LİSTE ALANI-->
    <div class="row">
        <div class="col-lg-12">
            <fieldset class="fieldset">
                <legend class="fieldsetb">Firma Listesi</legend>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive mb10">
                            <table class="table table-striped table-bordered table-hover dataTables dataTable ">
                                <thead>
                                    <tr>

                                        <th>Detay</th>
                                        <th>Düzenle</th>
                                        <th>Adresler</th>
                                        <th>Durumu</th>
                                        <th>Firma Adı</th>
                                        <th>Firma Prefix</th>
                                        <th>Vergi Dairesi</th>
                                        <th>Vergi No</th>
                                        <th>Ünvan/Departman</th>
                                        <th>Kontak Kişi</th>
                                        <th>Email</th>
                                        <th>Cep Telefonu</th>
                                        <th>İş Telefonu</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderByDescending(x=>x.Id))
                                    {
                                    <tr>
                                        <td><a onclick="getCompanyInfo(@item.Id)" data-toggle="modal" data-target="#detailModal" class="btn btn-info">Detay Gör</a> </td>
                                        <td><a onclick="getEditCompany(@item.Id)" data-toggle="modal" data-target="#editModal" class="btn btn-info">Düzenle</a> </td>
                                        <td><a asp-controller="Company" asp-action="CompanyAdress" asp-route-id="@item.Id" class="btn btn-info">Git</a> </td>
                                        @if (item.Status == 1)
                                        {
                                            <td><a onclick="confirm(@item.Id)" class="btn btn-info">Pasif Yap</a></td>
                                        }
                                        else
                                        {
                                            <td><a onclick="confirm(@item.Id)" class="btn btn-info">Aktif Yap</a></td>
                                        }
                                        <td>@item.Name</td>
                                        <td>@item.Prefix</td>
                                        <td>@item.TaxOffice </td>
                                        <td>@item.TaxNumber</td>
                                        <td>@item.Department</td>
                                        <td>@item.ContactPerson</td>
                                        <td>@item.Email</td>
                                        <td>@item.Telephone</td>
                                        <td>@item.Phone</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:100%">
                <form asp-controller="Company" asp-action="AddCompany"
                      data-ajax-success="onSuccess"
                      data-ajax="true" data-ajax-method="POST" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Firma Ekle</h4>
                    </div>
                    <div class="modal-body" style="margin-top:10px">
                        <div class="row">
                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Firma Adı </label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" name="Name" class="inpt-charter">
                                </div>
                            </div>

                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Firma Prefix </label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" name="Prefix" maxlength="3" class="inpt-charter" placeholder="">
                                </div>
                            </div>

                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Vergi numarası </label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" name="TaxNumber" class="inpt-charter">
                                </div>
                            </div>
                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Vergi Dairesi </label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" name="TaxOffice" class="inpt-charter">

                                </div>
                            </div>
                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Ünvan/Departman</label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" name="Department" class="inpt-charter">
                                </div>
                            </div>
                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Kontak Kişi</label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" name="ContactPerson" class="inpt-charter">
                                </div>
                            </div>
                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Email</label>
                                <div class="col-xs-8">
                                    <input type="email" required="required" name="Email" class="inpt-charter">
                                </div>
                            </div>

                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Cep Telefonu</label>
                                <div class="col-xs-8">
                                    <input type="number" required="required" name="Phone" class="inpt-charter">
                                </div>
                            </div>
                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">İş Telefonu</label>
                                <div class="col-xs-8">
                                    <input type="number" required="required" name="Telephone" class="inpt-charter">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" style="margin-right:15px" class="btn btn-info btnClick">KAYDET</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Firma Düzenleme POP-UP-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:100%">
                <form asp-controller="Company" asp-action="EditCompany"
                      data-ajax-success="onEditSuccess" data-ajax-begin="OnBegin"
                      data-ajax="true" data-ajax-method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Firma Güncelle</h4>
                    </div>

                    <div class="modal-body">
                        <div class="row" style="margin-top:10px">
                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Firma Adı </label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" id="editCompany" name="Name" placeholder="" class="inpt-charter">
                                </div>
                            </div>

                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Firma Prefix</label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" id="editPrefix" name="Prefix" placeholder="" class="inpt-charter">
                                </div>
                            </div>

                            <input type="hidden" name="Id" id="editId" value="" />
                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Vergi numarası </label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" id="editTaskNumber" name="TaxNumber" placeholder="" class="inpt-charter">
                                </div>
                            </div>
                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Vergi Dairesi </label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" id="editTaskOffice" placeholder="" name="TaxOffice" class="inpt-charter">

                                </div>
                            </div>
                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Ünvan/Departman</label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" id="editDepartmen" name="Department" class="inpt-charter">
                                </div>
                            </div>
                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Kontak Kişi</label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" id="editContactPerson" name="ContactPerson" class="inpt-charter">
                                </div>
                            </div>
                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Email</label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" id="editEmail" name="Email" class="inpt-charter">
                                </div>
                            </div>

                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">Cep Telefonu</label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" id="editPhone" name="Phone" class="inpt-charter">
                                </div>
                            </div>
                            <div class="form-group cf">
                                <label class="col-xs-4 control-label">İş Telefonu</label>
                                <div class="col-xs-8">
                                    <input type="text" required="required" id="editTelephone" name="Telephone" class="inpt-charter">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" style="margin-right:15px" class="btn btn-info btnClick">KAYDET</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Firma Detay POP-UP-->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:100%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Firma Detayı</h4>
                </div>
                <div class="modal-body">
                    <div class="col-xs-12">
                        <div class="form-group cf">
                            <label class="col-xs-4 control-label" style="color:black">Firma Adı</label>
                            <div class="col-xs-4">
                                <label id="CompanyName"></label>
                            </div>
                        </div>
                        <div class="form-group cf">
                            <label class="col-xs-4 control-label" style="color:black">Firma Prefix</label>
                            <div class="col-xs-4">
                                <label id="CompanyPrefix"></label>
                            </div>
                        </div>
                        <div class="form-group cf">
                            <label class="col-xs-4 control-label" style="color:black">Vergi Numarası</label>
                            <div class="col-xs-4">
                                <label id="taskNumber"></label>
                            </div>
                        </div>
                        <div class="form-group cf">
                            <label class="col-xs-4 control-label" style="color:black">Vergi Dairesi</label>
                            <div class="col-xs-8">
                                <label id="taskOffice"></label>
                            </div>
                        </div>
                        <div class="form-group cf">
                            <label class="col-xs-4 control-label" style="color:black">Ünvan/Departman</label>
                            <div class="col-xs-8">
                                <label id="departman"></label>
                            </div>
                        </div>
                        <div class="form-group cf">
                            <label class="col-xs-4 control-label" style="color:black">Kontak Kişi</label>
                            <div class="col-xs-8">
                                <label id="contactPerson"></label>
                            </div>
                        </div>
                        <div class="form-group cf">
                            <label class="col-xs-4 control-label" style="color:black">Email</label>
                            <div class="col-xs-8">
                                <label id="email"></label>
                            </div>
                        </div>
                        <div class="form-group cf">
                            <label class="col-xs-4 control-label" style="color:black">Cep Telefonu</label>
                            <div class="col-xs-8">
                                <label id="phone"></label>
                            </div>
                        </div>
                        <div class="form-group cf">
                            <label class="col-xs-4 control-label" style="color:black">İş Telefonu</label>
                            <div class="col-xs-8">
                                <label id="telephone"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border:0 !important;"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function getCompanyInfo(id) {
        $.get("/Company/getCompany", { id: id }).done(function (data) {
            $('#telephone').text(data.telephone);
            $('#phone').text(data.phone);
            $('#email').text(data.email);
            $('#contactPerson').text(data.contactPerson);
            $('#departman').text(data.department);
            $('#taskOffice').text(data.taxOffice);
            $('#taskNumber').text(data.taxNumber);
            $('#CompanyName').text(data.name);
            $('#CompanyPrefix').text(data.prefix);
        })
    }
    function getEditCompany(id) {
        $.get("/Company/getCompany", { id: id }).done(function (data) {
            $('#editCompany').val(data.name);
            $('#editTaskNumber').val(data.taxNumber);
            $('#editTaskOffice').val(data.taxOffice);
            $('#editDepartmen').val(data.department);
            $('#editContactPerson').val(data.contactPerson);
            $('#editEmail').val(data.email);
            $('#editPhone').val(data.phone);
            $('#editTelephone').val(data.telephone);
            $('#editId').val(id);
            $('#editPrefix').val(data.prefix);
        })
    }
</script>
<script>
    function LoadPage() {
        setTimeout(function () { window.location.reload() }, 2000);
    }
    var onSuccess = function () {
        $('#AddModal').modal('hide');
        Swal.fire({
            icon: 'success',
            title: 'Kayıt İşlemi Başarılı',
            showConfirmButton: false,
            timer: 2000
        });
        LoadPage();
    };
    var onEditSuccess = function () {
        $('#editModal').modal('hide');
        Swal.fire({
            icon: 'success',
            title: 'Güncelleme İşlemi Başarılı',
            showConfirmButton: false,
            timer: 2000
        });
        LoadPage();
    }
    function confirm(id) {
        $.get("/Company/confirm", { id: id }).done(function (data) {
            Swal.fire({
                icon: 'success',
                title: 'Güncelleme İşlemi Başarılı',
                showConfirmButton: false,
                timer: 2000
            });
            LoadPage()
        })
    }
    function OnBegin() {
        $('#AddModal').modal('hide');
        $('#editModal').modal('hide');
        $('.btnClick').prop("disabled", true);
        let timerInterval
        Swal.fire({
            title: 'İçerik Güncelleniyor',
            timer: 1000,
            timerProgressBar: true,
            didOpen: () => {
                Swal.showLoading()
            },
            willClose: () => {
                clearInterval(timerInterval)
            }
        }).then((result) => {
            if (result.dismiss === Swal.DismissReason.timer) {
                console.log('I was closed by the timer')
            }
        })
    }
</script>